<form action="/my-handling-form-page" method="post">

    <ul>
        <li>
          <label for="name">Nombre:</label>
          <input type="text" id="name" name="user_name">
        </li>
        <li>
          <label for="apepat">Apellido Paterno:</label>
          <input type="text" id="apepat" name="user_apepat">
        </li>
        <li>
          <label for="apemat">Apellido Materno:</label>
          <input type="text" id="apemat" name="user_apemat">
        </li>
        <li>
            <label for="rut">Rut:</label>
            <input type="text" id="rut" name="user_RUT">
          </li>

        <input type="submit" id="guardar" name="guardar" value="Guardar Datos"/>
</form>